/*
Centrar el contrnido de las celdas
 */
.table-cell:filled{
    -fx-alignment: CENTER;
}

/*
Centrar titulo de la columna y darle color
 */

.table-view .column-header .label{
    -fx-text-fill: #ffffff;
    -fx-alignment: CENTER;
    -fx-background-color: #ff0000;
}

/*
Fila seleccionada cambia de color al pòner el cursor encima
 */
.table-view:row-selection .table-row-cell:filled:selected:hover{
    -fx-background-color: #760a0a;
}